colorama==0.4.6
greenlet==3.5.1
iniconfig==2.3.0
Jinja2==3.1.6
MarkupSafe==3.0.3
packaging==26.2
playwright==1.60.0
pluggy==1.6.0
pyee==13.0.1
Pygments==2.20.0
pytest==9.0.3
pytest-html==4.2.0
pytest-metadata==3.1.1
typing_extensions==4.15.0
